.centreVerticalement {
  display: flex;
  align-items: center;
  justify-content: center;
}

.site-footer {
  background-color: $primary-color;
  color: $gray-dark;
  .site-info {
    height: 100%;
    p {
      color: $secondary-color;
      margin: 0;
      display: inline;
      vertical-align: -webkit-baseline-middle;
      a {
        color: $secondary-color;
        &:hover {
          color: darken($secondary-color, 6);
        }
      }
    }
  }
}